
body{
    background-color:linen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a:link{
    color:black;
}

a:visited{
    color: indianred;
}

a:hover{
    color: lightblue;  
}

a:active{
    color: black
}


h2{
    color: indianred;
    font-size: 30px;
    background-color: rgb(235, 183, 165);
}

p{
    color:darksalmon;
    text-align: left;
}

div{
    color: black;
}

.class1{   
    background-color: pink;
    width: 500px;
    height: 30px;
    border: 5px solid indianred;
    padding: 10px;
    margin: 0px;
}

div.class2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: indianred;
    background-color: pink;
    width: 500px;
    border: 5px solid indianred;
    padding: 10px;
  }

#id1 {
    border: 5px solid indianred;
}

#id2 p{
    color:black;
}

#id3 p{
    font-style: italic;
}

#id4 p{
    font-variant: small-caps;
}


@keyframes example {
    0%   {background-color: indianred;}
    25%  {background-color: lightgoldenrodyellow;}
    50%  {background-color: lightblue;}
    75% {background-color: lightgreen;}
    100% {background-color: purple;}
  }
  
  /* The element to apply the animation to */
a.class3{
    width: 100px;
    height: 25px;
    background-color: linen;
    animation-name: example;
    animation-duration: 10s;
  }
/*
.box{
    background-color: pink;
    width: 575px;
    border: 15px solid plum;
    padding: 20px;
    margin: 20px;
}



div.position{
    position: absolute;
    left: 50px;
    right: 400px;
    top: 500px;
}

div.sticky{
    position: sticky;
    padding: 3px;
    background-color: pink;
    border: 1px solid plum;
}


p{
    background-color:linen;
    color:indigo;
    margin: 40px 100px 40px 50px;
}

div {
    background: plum;
}

span {
    background: palegreen;
}


   body{
  background:antiquewhite;
     text-align: center;
   }

   .example{
       color: red;
    }

   .example2{
   background: aquamarine;
   }

   a{
       color: orchid;
    }

   .container a{
    color: orange
       }


