



body{
    background-color:linen;
    font-family: 'Quicksand', sans-serif;
    text-align: center
}

h1{
    font-family: 'Homemade Apple', cursive;
}

.button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:indianred;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}


a:link{
    color:black;
}

a:visited{
    color: linen;
}

a:hover{
    color: rgb(226, 168, 168);  
}

a:active{
    color: black
}

.footer{
    background-color: indianred;
    color:white;
    text-align: left;
    font-size: 10px;
    padding: 5px;
}

